#chart_div {
    height: 69vh;
    padding: 0.25em;
}

.page-main {
    margin-top: 0.14rem;
}

.page-main .card {
    padding: 1.25rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#getStarted {
    margin-top: 4rem;
}